In [3]:
import requests
import pandas as pd
from lxml import html

In [74]:
#def get_table_promoter_n_group_df(URL):
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=523261&qtrid=102.00&QtrName=June%202019'
try:
    #URL=r'https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=532500&qtrid=102.00&QtrName=June%202019'
    r = requests.get(URL)
    tree = html.fromstring(r.content)
    cols=tree.xpath('//*[@class="innertable_header1"]/text()')
    cols=tree.xpath('//*[@id="tdData"]/table/tbody/tr[3]/td/table/tbody/tr[1]/td')
    df=pd.DataFrame(columns=cols)
    for i in range(0,len(cols)):
        try:
            tr_elements=tree.xpath(f'//tr[3]//td[{i+1}]')
            if i==0:
                df[cols[i]]=[(T.text_content()) for T in tr_elements][-7:]
            else:
                df[cols[i]]=[(T.text_content()) for T in tr_elements]
        except Exception as e:
            print(e)
            print(i+1)
            continue
except ValueError as v:
    print(i)
    print(v)
    #return df.iloc[1:,:]
df.iloc[1:,:]

Empty DataFrame
Columns: []
Index: []

In [83]:
# tr_elements=tree.xpath(r'//*[@id="tdData"]/table/tbody/tr[3]/td/table/tbody/tr[1]/td')
# [(T) for T in tr_elements]
# #tr_elements

[]

In [90]:
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=523261&qtrid=102.00&QtrName=June%202019'
#URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=533022&qtrid=102.00&QtrName=June%202019'
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=531921&qtrid=102.00&QtrName=June%202019'
r = requests.get(URL)
tree = html.fromstring(r.content)
#cols=tree.xpath('//*[@id="tdData"]/table/tbody/tr[3]/td/table/tbody/tr[1]/td[1]')
#cols=tree.xpath('//*[@id="tdData"]/table/tbody/tr[3]/td/table/tbody/tr[2]/td[1]')
cols=tree.find_class('TTRow_right')

In [94]:
ab=[cols[i].text_content() for i in range(len(cols))]
ab

['               ',
 '',
 '',
 '0.00',
 '',
 '0.00',
 '',
 '               30',
 '60,86,392',
 '60,86,392',
 '59.33',
 '6,60,000',
 '10.84',
 '60,86,392',
 '               1',
 '2,500',
 '2,500',
 '0.02',
 '',
 '0.00',
 '2,500',
 '               1',
 '6,41,850',
 '6,41,850',
 '6.26',
 '45,000',
 '7.01',
 '6,41,850',
 '               1',
 '1,35,875',
 '1,35,875',
 '1.32',
 '',
 '0.00',
 '1,35,875',
 '               1',
 '3,95,000',
 '3,95,000',
 '3.85',
 '50,000',
 '12.66',
 '3,95,000',
 '               1',
 '19,000',
 '19,000',
 '0.19',
 '',
 '0.00',
 '19,000',
 '               1',
 '4,98,225',
 '4,98,225',
 '4.86',
 '75,000',
 '15.05',
 '4,98,225',
 '               1',
 '71,500',
 '71,500',
 '0.70',
 '',
 '0.00',
 '71,500',
 '               1',
 '47,900',
 '47,900',
 '0.47',
 '',
 '0.00',
 '47,900',
 '               1',
 '4,00,625',
 '4,00,625',
 '3.91',
 '50,000',
 '12.48',
 '4,00,625',
 '               1',
 '71,500',
 '71,500',
 '0.70',
 '',
 '0.00',
 '71,500',
 '               1',
 '4,91,100',
 '4,91,100',
 '4.79',
 '96,000',
 '19.55',
 '4,91,100',
 '               1',
 '25,000',
 '25,000',
 '0.24',
 '',
 '0.00',
 '25,000',
 '               1',
 '1,01,300',
 '1,01,300',
 '0.99',
 '',
 '0.00',
 '1,01,300',
 '               1',
 '76,900',
 '76,900',
 '0.75',
 '12,000',
 '15.60',
 '76,900',
 '               1',
 '3,375',
 '3,375',
 '0.03',
 '',
 '0.00',
 '3,375',
 '               1',
 '2,79,650',
 '2,79,650',
 '2.73',
 '15,000',
 '5.36',
 '2,79,650',
 '               1',
 '2,44,105',
 '2,44,105',
 '2.38',
 '50,000',
 '20.48',
 '2,44,105',
 '               1',
 '53,850',
 '53,850',
 '0.52',
 '',
 '0.00',
 '53,850',
 '               1',
 '1,25,000',
 '1,25,000',
 '1.22',
 '',
 '0.00',
 '1,25,000',
 '               1',
 '5,32,525',
 '5,32,525',
 '5.19',
 '86,000',
 '16.15',
 '5,32,525',
 '               1',
 '2,96,114',
 '2,96,114',
 '2.89',
 '50,000',
 '16.89',
 '2,96,114',
 '               1',
 '4,500',
 '4,500',
 '0.04',
 '2,000',
 '44.44',
 '4,500',
 '               1',
 '2,31,300',
 '2,31,300',
 '2.25',
 '17,000',
 '7.35',
 '2,31,300',
 '               1',
 '1,32,040',
 '1,32,040',
 '1.29',
 '2,000',
 '1.51',
 '1,32,040',
 '               1',
 '2,40,100',
 '2,40,100',
 '2.34',
 '10,000',
 '4.16',
 '2,40,100',
 '               1',
 '2,23,600',
 '2,23,600',
 '2.18',
 '17,000',
 '7.60',
 '2,23,600',
 '               1',
 '4,58,283',
 '4,58,283',
 '4.47',
 '50,000',
 '10.91',
 '4,58,283',
 '               1',
 '1,68,975',
 '1,68,975',
 '1.65',
 '18,000',
 '10.65',
 '1,68,975',
 '               1',
 '66,300',
 '66,300',
 '0.65',
 '15,000',
 '22.62',
 '66,300',
 '               1',
 '48,400',
 '48,400',
 '0.47',
 '',
 '0.00',
 '48,400',
 '               30',
 '60,86,392',
 '60,86,392',
 '59.33',
 '6,60,000',
 '10.84',
 '60,86,392',
 '               ',
 '',
 '',
 '0.00',
 '',
 '0.00',
 '',
 '               30',
 '60,86,392',
 '60,86,392',
 '59.33',
 '6,60,000',
 '10.84',
 '60,86,392']

In [113]:
a=[]
b=[]
for i in range(0,len(ab)-7,7):
    for j in range(i,i+7):
        a.append((ab[j]))
    print(a)
    b.append(a)
    a=[]

['               ', '', '', '0.00', '', '0.00', '']
['               30', '60,86,392', '60,86,392', '59.33', '6,60,000', '10.84', '60,86,392']
['               1', '2,500', '2,500', '0.02', '', '0.00', '2,500']
['               1', '6,41,850', '6,41,850', '6.26', '45,000', '7.01', '6,41,850']
['               1', '1,35,875', '1,35,875', '1.32', '', '0.00', '1,35,875']
['               1', '3,95,000', '3,95,000', '3.85', '50,000', '12.66', '3,95,000']
['               1', '19,000', '19,000', '0.19', '', '0.00', '19,000']
['               1', '4,98,225', '4,98,225', '4.86', '75,000', '15.05', '4,98,225']
['               1', '71,500', '71,500', '0.70', '', '0.00', '71,500']
['               1', '47,900', '47,900', '0.47', '', '0.00', '47,900']
['               1', '4,00,625', '4,00,625', '3.91', '50,000', '12.48', '4,00,625']
['               1', '71,500', '71,500', '0.70', '', '0.00', '71,500']
['               1', '4,91,100', '4,91,100', '4.79', '96,000', '19.55', '4,91,100']
['               1', '25,000', '25,000', '0.24', '', '0.00', '25,000']
['               1', '1,01,300', '1,01,300', '0.99', '', '0.00', '1,01,300']
['               1', '76,900', '76,900', '0.75', '12,000', '15.60', '76,900']
['               1', '3,375', '3,375', '0.03', '', '0.00', '3,375']
['               1', '2,79,650', '2,79,650', '2.73', '15,000', '5.36', '2,79,650']
['               1', '2,44,105', '2,44,105', '2.38', '50,000', '20.48', '2,44,105']
['               1', '53,850', '53,850', '0.52', '', '0.00', '53,850']
['               1', '1,25,000', '1,25,000', '1.22', '', '0.00', '1,25,000']
['               1', '5,32,525', '5,32,525', '5.19', '86,000', '16.15', '5,32,525']
['               1', '2,96,114', '2,96,114', '2.89', '50,000', '16.89', '2,96,114']
['               1', '4,500', '4,500', '0.04', '2,000', '44.44', '4,500']
['               1', '2,31,300', '2,31,300', '2.25', '17,000', '7.35', '2,31,300']
['               1', '1,32,040', '1,32,040', '1.29', '2,000', '1.51', '1,32,040']
['               1', '2,40,100', '2,40,100', '2.34', '10,000', '4.16', '2,40,100']
['               1', '2,23,600', '2,23,600', '2.18', '17,000', '7.60', '2,23,600']
['               1', '4,58,283', '4,58,283', '4.47', '50,000', '10.91', '4,58,283']
['               1', '1,68,975', '1,68,975', '1.65', '18,000', '10.65', '1,68,975']
['               1', '66,300', '66,300', '0.65', '15,000', '22.62', '66,300']
['               1', '48,400', '48,400', '0.47', '', '0.00', '48,400']
['               30', '60,86,392', '60,86,392', '59.33', '6,60,000', '10.84', '60,86,392']
['               ', '', '', '0.00', '', '0.00', '']

In [114]:
b

[['               ', '', '', '0.00', '', '0.00', ''],
 ['               30',
  '60,86,392',
  '60,86,392',
  '59.33',
  '6,60,000',
  '10.84',
  '60,86,392'],
 ['               1', '2,500', '2,500', '0.02', '', '0.00', '2,500'],
 ['               1',
  '6,41,850',
  '6,41,850',
  '6.26',
  '45,000',
  '7.01',
  '6,41,850'],
 ['               1', '1,35,875', '1,35,875', '1.32', '', '0.00', '1,35,875'],
 ['               1',
  '3,95,000',
  '3,95,000',
  '3.85',
  '50,000',
  '12.66',
  '3,95,000'],
 ['               1', '19,000', '19,000', '0.19', '', '0.00', '19,000'],
 ['               1',
  '4,98,225',
  '4,98,225',
  '4.86',
  '75,000',
  '15.05',
  '4,98,225'],
 ['               1', '71,500', '71,500', '0.70', '', '0.00', '71,500'],
 ['               1', '47,900', '47,900', '0.47', '', '0.00', '47,900'],
 ['               1',
  '4,00,625',
  '4,00,625',
  '3.91',
  '50,000',
  '12.48',
  '4,00,625'],
 ['               1', '71,500', '71,500', '0.70', '', '0.00', '71,500'],
 ['               1',
  '4,91,100',
  '4,91,100',
  '4.79',
  '96,000',
  '19.55',
  '4,91,100'],
 ['               1', '25,000', '25,000', '0.24', '', '0.00', '25,000'],
 ['               1', '1,01,300', '1,01,300', '0.99', '', '0.00', '1,01,300'],
 ['               1', '76,900', '76,900', '0.75', '12,000', '15.60', '76,900'],
 ['               1', '3,375', '3,375', '0.03', '', '0.00', '3,375'],
 ['               1',
  '2,79,650',
  '2,79,650',
  '2.73',
  '15,000',
  '5.36',
  '2,79,650'],
 ['               1',
  '2,44,105',
  '2,44,105',
  '2.38',
  '50,000',
  '20.48',
  '2,44,105'],
 ['               1', '53,850', '53,850', '0.52', '', '0.00', '53,850'],
 ['               1', '1,25,000', '1,25,000', '1.22', '', '0.00', '1,25,000'],
 ['               1',
  '5,32,525',
  '5,32,525',
  '5.19',
  '86,000',
  '16.15',
  '5,32,525'],
 ['               1',
  '2,96,114',
  '2,96,114',
  '2.89',
  '50,000',
  '16.89',
  '2,96,114'],
 ['               1', '4,500', '4,500', '0.04', '2,000', '44.44', '4,500'],
 ['               1',
  '2,31,300',
  '2,31,300',
  '2.25',
  '17,000',
  '7.35',
  '2,31,300'],
 ['               1',
  '1,32,040',
  '1,32,040',
  '1.29',
  '2,000',
  '1.51',
  '1,32,040'],
 ['               1',
  '2,40,100',
  '2,40,100',
  '2.34',
  '10,000',
  '4.16',
  '2,40,100'],
 ['               1',
  '2,23,600',
  '2,23,600',
  '2.18',
  '17,000',
  '7.60',
  '2,23,600'],
 ['               1',
  '4,58,283',
  '4,58,283',
  '4.47',
  '50,000',
  '10.91',
  '4,58,283'],
 ['               1',
  '1,68,975',
  '1,68,975',
  '1.65',
  '18,000',
  '10.65',
  '1,68,975'],
 ['               1', '66,300', '66,300', '0.65', '15,000', '22.62', '66,300'],
 ['               1', '48,400', '48,400', '0.47', '', '0.00', '48,400'],
 ['               30',
  '60,86,392',
  '60,86,392',
  '59.33',
  '6,60,000',
  '10.84',
  '60,86,392'],
 ['               ', '', '', '0.00', '', '0.00', '']]

In [25]:
cols=tree.find_class('innertable_header1')
[cols[i].text_content() for i in range(len(cols))]

['Category of shareholder',
 'Nos. of shareholders',
 'No. of fully paid up equity shares held',
 'Total nos. shares held',
 'Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2)',
 ' Number of Locked in shares',
 ' Number of equity shares held in dematerialized form',
 'No.(a)',
 'As a % of total Shares held(b)']

In [26]:
cols=tree.find_class('TTRow_left')
[cols[i].text_content() for i in range(len(cols))]

['A1)\xa0Indian',
 'Individuals/Hindu undivided Family',
 'AAYUSHI AGARWAL',
 'JAI PRAKASH AGARWAL',
 'JAIPRAKASH RAHULKUMAR HUF',
 'JUGAL KISHORE AGARWAL',
 'JUGAL KISHORE AGARWAL HUF',
 'KISHAN AGARWAL',
 'KISHAN AGARWAL HUF',
 'LAKSHYA AGARWAL',
 'LALIT AGARWAL',
 'LALIT AGARWAL HUF',
 'MAHENDRA AGARWAL',
 'MAHENDRA AGARWAL HUF',
 'MANGILAL AGARWAL HUF',
 'MUKUL AGARWAL',
 'NAMRATA SHAILESH AGRAWAL',
 'NILESH AGARWAL',
 'PADMA AGARWAL',
 'POOJA AGARWAL',
 'RAM CHANDRA AGARWAL HUF',
 'RAMCHANDRA AGARWAL',
 'REKHA AGARWAL',
 'SANCHI AGARWAL',
 'SHAILESH AGARWAL',
 'SUDHA AGARWAL',
 'SUSHILA AGARWAL',
 'UMA AGARWAL',
 'USHA AGARWAL',
 'VIPIN AGARWAL',
 'VIREL AGARWAL',
 'YASH AGARWAL',
 'Sub Total A1',
 'A2)\xa0Foreign',
 'A=A1+A2']

In [88]:
import pandas as pd
cols=tree.find_class('innertable_header1')
cols=[cols[i].text_content() for i in range(len(cols))]
df=pd.DataFrame()

In [50]:
for ix,val in enumerate(cols):
    if len(cols)>6:
        if ix==5:
            df[val+"-"+cols[-2]]=" "
            df[val+"-"+cols[-1]]=" "
    df[val]=" "

In [42]:
cols

['Category of shareholder',
 'Nos. of shareholders',
 'No. of fully paid up equity shares held',
 'Total nos. shares held',
 'Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2)',
 ' Number of Locked in shares',
 ' Number of equity shares held in dematerialized form',
 'No.(a)',
 'As a % of total Shares held(b)']

In [51]:
df

Empty DataFrame
Columns: [Category of shareholder, Nos. of shareholders, No. of fully paid up equity shares held, Total nos. shares held, Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2),  Number of Locked in shares-No.(a),  Number of Locked in shares-As a % of total Shares held(b),  Number of Locked in shares,  Number of equity shares held in dematerialized form, No.(a), As a % of total Shares held(b)]
Index: []

In [71]:
if len(cols)>6:
    for ix,val in enumerate(cols):
        df[val]=""

In [89]:
if len(cols)>6:
    for ix,val in enumerate(cols):
        if ix==5:
            df[cols[ix]+'-'+cols[-2]]=" "
            df[cols[ix]+'-'+cols[-1]]=" "
            continue
        elif ix>=7:
            pass
        else:
            df[val]=" "
else:
    for val in (cols):
        df[val]=" "

Empty DataFrame
Columns: [Category of shareholder, Nos. of shareholders, No. of fully paid up equity shares held, Total nos. shares held, Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2),  Number of Locked in shares-No.(a),  Number of Locked in shares-As a % of total Shares held(b),  Number of equity shares held in dematerialized form]
Index: []

In [64]:
df.columns[-2]

'No.(a)'

In [73]:
df.rename(columns={ df.columns[-1]: cols[5]+'-'+cols[-1],
                    df.columns[-2]: cols[5]+'-'+cols[-2]
                  }, inplace = True)
df.drop(labels=cols[5],axis=1,inplace=True)

In [74]:
df

Empty DataFrame
Columns: [Category of shareholder, Nos. of shareholders, No. of fully paid up equity shares held, Total nos. shares held, Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2),  Number of equity shares held in dematerialized form,  Number of Locked in shares-No.(a),  Number of Locked in shares-As a % of total Shares held(b)]
Index: []

In [118]:
def get_extra_col_df(cols):
    for ix,val in enumerate(cols):
        if ix==5:
            df[cols[ix]+'-'+cols[-2]]=" "
            df[cols[ix]+'-'+cols[-1]]=" "
            continue
        elif ix>=7:
            pass
        else:
            df[val]=" "
    return df
def get_table_promoter_n_group_df(URL):
    try:
        #URL=r'https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=532500&qtrid=102.00&QtrName=June%202019'
        r = requests.get(URL)
        tree = html.fromstring(r.content)
        cols=tree.find_class('innertable_header1')
        cols=[cols[i].text_content() for i in range(len(cols))]
        if len(cols)>7:
            df=get_extra_col_df(cols)
            left_col=tree.find_class('TTRow_left')
            df[cols[0]]=[i.text_content() for i in left_col]
            all_cols=tree.find_class('TTRow_right')
            ab=[i.text_content() for i in all_cols]
            a=[]
            #b=[]
            for i in range(0,len(ab)-7,7):
                for j in range(i,i+7):
                    a.append((ab[j]))
                #print(a)
                df[cols[i+1]]=a
                #b.append(a)
                a=[]
        else:
            for val in (cols):
                df[val]=" "
        left_col=tree.find_class('TTRow_left')
        df[cols[0]]=[i.text_content() for i in left_col]
    except ValueError as v:
        print(i)
        print(v)
    return df

In [129]:
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=533022&qtrid=102.00&QtrName=June%202019'
get_table_promoter_n_group_df(URL)

UnboundLocalError: local variable 'i' referenced before assignment

In [130]:
r = requests.get(URL)
tree = html.fromstring(r.content)
left_col=tree.find_class('TTRow_left')

In [131]:
[i.text_content() for i in left_col]

['A1)\xa0Indian',
 'Individuals/Hindu undivided Family',
 'CHANDRESH S PARIKH',
 'RAJESH CHANDRESH PARIKH',
 'ATIL CHANDRESH PARIKH',
 'ILABEN PARIKH',
 'Any Other (specify)',
 'ERIEZ INDUSTRIES PRIVATE  LIMITED',
 'Sub Total A1',
 'A2)\xa0Foreign',
 'A=A1+A2']

In [132]:
cols=tree.find_class('innertable_header1')
[cols[i].text_content() for i in range(len(cols))]

['Category of shareholder',
 'Nos. of shareholders',
 'No. of fully paid up equity shares held',
 'Total nos. shares held',
 'Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2)',
 ' Number of Shares pledged or otherwise encumbered',
 ' Number of equity shares held in dematerialized form',
 'No.(a)',
 'As a % of total Shares held(b)']

In [159]:
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=531921&qtrid=102.00&QtrName=June%202019'
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=533022&qtrid=102.00&QtrName=June%202019'
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=523261&qtrid=102.00&QtrName=June%202019'
r = requests.get(URL)
tree = html.fromstring(r.content)

In [204]:
def get_column_name(tree):
    cols=tree.find_class('innertable_header1')
    cols=[cols[i].text_content().encode('ascii', 'ignore').decode("utf-8") for i in range(len(cols))]
    return cols
get_column_name(tree)

['Category of shareholder',
 'Nos. of shareholders',
 'No. of fully paid up equity shares held',
 'Total nos. shares held',
 'Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2)',
 ' Number of equity shares held in dematerialized form']

In [205]:
def get_right_column_data(tree):
    cols=tree.find_class('TTRow_left')
    cols=[(cols[i].text_content()).encode('ascii', 'ignore').decode("utf-8") for i in range(len(cols))]
    return cols
get_right_column_data(tree)

['A1)Indian',
 'Any Other (specify)',
 'ANURADHA JITENDRA DESAI',
 'BANDA VENKATESH RAO',
 'BANDA BALAJI RAO',
 'JITENDRA MORESHWAR DESAI',
 'DESAI VIMAL MORESHWAR',
 'UTTARADEVI RAO',
 'VENKATESHWARA HATCHERIES PVT LIMITED',
 'SRIVENK INVESTMENTS AND FINANCE PRIVATE LIMITED',
 'Sub Total A1',
 'A2)Foreign',
 'A=A1+A2']

In [206]:
import re
def get_data(tree):
    all_cols=tree.find_class('TTRow_right')
    all_cols=[re.sub(r"[\s+|,]", "", i.text_content()) for i in all_cols]
    return all_cols
get_data(tree)

['',
 '',
 '',
 '0.00',
 '',
 '8',
 '7903966',
 '7903966',
 '56.11',
 '7881435',
 '1',
 '482926',
 '482926',
 '3.43',
 '482926',
 '1',
 '66051',
 '66051',
 '0.47',
 '66051',
 '1',
 '65667',
 '65667',
 '0.47',
 '65667',
 '1',
 '30079',
 '30079',
 '0.21',
 '30079',
 '1',
 '49789',
 '49789',
 '0.35',
 '49789',
 '1',
 '22531',
 '22531',
 '0.16',
 '',
 '1',
 '7186914',
 '7186914',
 '51.02',
 '7186914',
 '1',
 '9',
 '9',
 '0.00',
 '9',
 '8',
 '7903966',
 '7903966',
 '56.11',
 '7881435',
 '',
 '',
 '',
 '0.00',
 '',
 '8',
 '7903966',
 '7903966',
 '56.11',
 '7881435']

In [212]:
fit_data(tree,cols,df)

['Category of shareholder', 'Nos. of shareholders', 'No. of fully paid up equity shares held', 'Total nos. shares held', 'Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2)', ' Number of Shares pledged or otherwise encumbered', ' Number of equity shares held in dematerialized form', 'No.(a)', 'As a % of total Shares held(b)']
0 ['', '', '', '0.00', '']
5 ['8', '7903966', '7903966', '56.11', '7881435']
10 ['1', '482926', '482926', '3.43', '482926']
15 ['1', '66051', '66051', '0.47', '66051']
20 ['1', '65667', '65667', '0.47', '65667']
25 ['1', '30079', '30079', '0.21', '30079']
30 ['1', '49789', '49789', '0.35', '49789']
35 ['1', '22531', '22531', '0.16', '']
40 ['1', '7186914', '7186914', '51.02', '7186914']
45 ['1', '9', '9', '0.00', '9']
50 ['8', '7903966', '7903966', '56.11', '7881435']
55 ['', '', '', '0.00', '']
60 ['8', '7903966', '7903966', '56.11', '7881435']

In [45]:
def get_column_name(tree):
    cols=tree.find_class('innertable_header1')
    cols=[cols[i].text_content().encode('ascii', 'ignore').decode("utf-8") for i in range(len(cols))]
    return cols

import re
def get_data(tree):
    all_cols=tree.find_class('TTRow_right')
    all_cols=[re.sub(r"[\s+|,]", "", i.text_content()) for i in all_cols]
    return all_cols

def get_right_column_data(tree):
    cols=tree.find_class('TTRow_left')
    cols=[(cols[i].text_content()).encode('ascii', 'ignore').decode("utf-8") for i in range(len(cols))]
    return cols


def fit_data(tree,cols,df):
    datum=get_data(tree)
    print(cols)
    data={}
    j=1
    for i in range(0,len(datum),len(cols)-1):
        data[j]=(datum[i:i+5])
        j+=1
    df1=pd.DataFrame(data).T
    df1.columns=cols[1:]
    return df1

def col_having_six(URL):
    r = requests.get(URL)
    tree = html.fromstring(r.content)
    cols=get_column_name(tree)
    df=pd.DataFrame()
    df=(fit_data(tree,cols,df))
    df[cols[0]]=get_right_column_data(tree)
    return df

In [46]:
URL='https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=523261&qtrid=102.00&QtrName=June%202019'
col_having_six(URL)

['Category of shareholder', 'Nos. of shareholders', 'No. of fully paid up equity shares held', 'Total nos. shares held', 'Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2)', ' Number of equity shares held in dematerialized form']

,Nos. of shareholders,No. of fully paid up equity shares held,Total nos. shares held,"Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2)",Number of equity shares held in dematerialized form,Category of shareholder
1,,,,0.00,,A1)Indian
2,8,7903966,7903966,56.11,7881435,Any Other (specify)
3,1,482926,482926,3.43,482926,ANURADHA JITENDRA DESAI
4,1,66051,66051,0.47,66051,BANDA VENKATESH RAO
5,1,65667,65667,0.47,65667,BANDA BALAJI RAO
6,1,30079,30079,0.21,30079,JITENDRA MORESHWAR DESAI
7,1,49789,49789,0.35,49789,DESAI VIMAL MORESHWAR
8,1,22531,22531,0.16,,UTTARADEVI RAO
9,1,7186914,7186914,51.02,7186914,VENKATESHWARA HATCHERIES PVT LIMITED
10,1,9,9,0.00,9,SRIVENK INVESTMENTS AND FINANCE PRIVATE LIMITED
11,8,7903966,7903966,56.11,7881435,Sub Total A1
12,,,,0.00,,A2)Foreign
13,8,7903966,7903966,56.11,7881435,A=A1+A2