In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from lxml.etree import XPath
from lxml import html
# URL=r'https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=532500&qtrid=102.00&QtrName=June%202019'
# r = requests.get(URL)
# #html = lxml.html.parse(URL)
# table_xpath=('//tr[3]//td[1]')
# #print(html.xpath(table_xpath))

# tree = html.fromstring(r.content)
# print(tree.xpath(table_xpath))

In [2]:
try:
    #URL=r'https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=532500&qtrid=102.00&QtrName=June%202019'
    #URL=r'https://www.bseindia.com/corporates/shpPublicShareholder.aspx?scripcd=532500&qtrid=101.00&QtrName=June%202019'
    URL=r'https://www.bseindia.com/stock-share-price/shp-latest/scripcode/532500/'
    r = requests.get(URL)
    tree = html.fromstring(r.content)
    ll=tree.xpath('//*[@class="innertable_header1"]/text()')
    cols=ll
    df=pd.DataFrame(columns=cols)
    for i in range(0,len(ll)):
        try:
            tr_elements=tree.xpath(f'//tr[3]//td[{i+2}]')
            if i==2:
                df[cols[i]]=[(T.text_content()) for T in tr_elements][2:]
            elif i+2==5:
                df[cols[i]]=[tree.xpath(f'//tr[{i}]//td[7]')[0].text_content() for i in range(7,df.shape[0]-1+7+1)]
            elif i+2==6:
                df[cols[i]]=[tree.xpath(f'//tr[{i}]//td[8]')[0].text_content() for i in range(7,df.shape[0]-1+7+1)]
            elif i+2 in (7,8) :
                df[cols[i]]=[(T.text_content()) for T in tr_elements][1:]
            elif i+2==9:
                df[cols[i]]=[tree.xpath(f'//tr[{i}]//td[19]')[0].text_content() for i in range(7,df.shape[0]-1+7+1)]
            else:
                df[cols[i]]=[(T.text_content()) for T in tr_elements][3:]
        except Exception:
            print(Exception)
            print(i+2)
            continue
except ValueError:
    print(ValueError)
    print(i)
    #return df.replace(r'^\s*$', 0, regex=True)
#df=PublicShareholder_df()
#df1=df
#df1
df

Empty DataFrame
Columns: []
Index: []

In [3]:
ll

[]

In [177]:
tr_elements=tree.xpath(f'//tr[7]//td[{7}]')
[(T.text_content()) for T in tr_elements]
#3,4,7,8 is fine
#5,6,9 is not
#len(tr_elements)
#df[cols[3]]=[(T.text_content()) for T in tr_elements][1:]
df.shape[0]

23

In [182]:
#tr_elements=tree.xpath(f'//tr[7]//td[7]')[0].text_content()
[tree.xpath(f'//tr[{i}]//td[8]')[0].text_content() for i in range(7,df.shape[0]-1+7+1)]

[' 0.00',
 ' 5.77',
 ' 1.08',
 ' 0.19',
 ' 22.30',
 ' 7.44',
 ' 6.68',
 ' 35.71',
 ' 0.00',
 ' 0.00',
 ' 4.34',
 ' 0.05',
 ' 0.05',
 ' 3.64',
 ' 0.67',
 ' 0.00',
 ' 0.16',
 ' 0.16',
 ' 0.00',
 ' 0.08',
 ' 2.56',
 ' 8.09',
 ' 43.79']

In [167]:
[(T.text_content()) for T in tr_elements]

['']

In [18]:
URL=r'https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=532500&qtrid=102.00&QtrName=June%202019'
URL=r'https://www.bseindia.com/corporates/shpPublicShareholder.aspx?scripcd=532500&qtrid=101.00&QtrName=June%202019'
r = requests.get(URL)
tree = html.fromstring(r.content)
ll=tree.xpath('//*[@class="innertable_header1"]/text()')

In [60]:
import requests
import pandas as pd
from lxml import html

def get_table_df():
    try:
        #URL=r'https://www.bseindia.com/corporates/shpPromoterNGroup.aspx?scripcd=532500&qtrid=102.00&QtrName=June%202019'
        URL=r'https://www.bseindia.com/corporates/shpPublicShareholder.aspx?scripcd=532500&qtrid=101.00&QtrName=June%202019'
        
        r = requests.get(URL)
        tree = html.fromstring(r.content)
        cols=tree.xpath('//*[@class="innertable_header1"]/text()')
        df=pd.DataFrame(columns=cols)
        for i in range(0,len(cols)):
            tr_elements=tree.xpath(f'//tr[3]//td[{i+1}]')
            if i==0:
                df[cols[i]]=[(T.text_content()) for T in tr_elements][-7:]
            #print(tr_elements)
            else:
                df[cols[i]]=[(T.text_content()) for T in tr_elements]
    except ValueError:
        print(i)
        print(ValueError)
    return df.iloc[1:,:]
get_table_df()

1
<class 'ValueError'>

,Category & Name of the Shareholders,No. of shareholder,No. of fully paid up equity shares held,Total no. shares held,"Shareholding % calculated as per SCRR, 1957 As a % of (A+B+C2)",No. of Voting Rights,Total as a % of Total Voting right,No. of equity shares held in dematerialized form(Not Applicable)
1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Details of the shareholders acting as persons ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Details of Shares which remain unclaimed may b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Note(1) PAN would not be displayed on website ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
(tree.xpath('//*[@class="innertable_header1"]/text()'))

NameError: name 'tree' is not defined

In [139]:
# tr_elements = tree.xpath('//tr[3]//td[2]')
# [(T.text_content()) for T in tr_elements]

['Nos. of shareholders',
 '               ',
 '               ',
 '               1',
 '               1',
 '               1',
 '               1']

In [113]:
df.head()

Empty DataFrame
Columns: [Category of shareholder, Nos. of shareholders, No. of fully paid up equity shares held, Total nos. shares held, Shareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2),  Number of equity shares held in dematerialized form]
Index: []

In [ ]:
for i in range(0,len(ll)):
    tr_elements=tree.xpath(f'//tr[3]//td[{i+1}]')
    #print(tr_elements)
    df[cols[i]]=[(T.text_content()) for T in tr_elements]
df

In [138]:
#df[cols[0]]=[(T.text_content()) for T in tr_elements]
#df
#df[cols[2]]=[(T.text_content()) for T in tr_elements]
#df[cols[1]]=
tr_elements=tree.xpath(f'//tr[3]//td[{1}]')
([(T.text_content()) for T in tr_elements])

['\r\n        \r\n       \r\n        ',
 'Category of shareholderNos. of shareholdersNo. of fully paid up equity shares heldTotal nos. shares heldShareholding as a % of total no. of shares (calculated as per SCRR, 1957)As a % of (A+B+C2) Number of equity shares held in dematerialized formA1)\xa0Indian               0.00A2)\xa0Foreign               0.00Any Other (specify)               116,97,88,44016,97,88,44056.2116,97,88,440Suzuki Motor Corporation               116,97,88,44016,97,88,44056.2116,97,88,440Sub Total A2               116,97,88,44016,97,88,44056.2116,97,88,440A=A1+A2               116,97,88,44016,97,88,44056.2116,97,88,440',
 'Category of shareholder',
 'A1)\xa0Indian',
 'A2)\xa0Foreign',
 'Any Other (specify)',
 'Suzuki Motor Corporation',
 'Sub Total A2',
 'A=A1+A2']

In [132]:
for i in range(0,len(ll)):
    tr_elements=tree.xpath(f'//tr[3]//td[{i+1}]')
    #print(tr_elements)
    df[cols[i]]=[(T.text_content()) for T in tr_elements]
df

ValueError: Length of values does not match length of index

In [36]:
import lxml.html as LH
import requests
import pandas as pd
def text(elt):
    return elt.text_content().replace(u'\xa0', u' ')

url = URL
r = requests.get(url)
root = LH.fromstring(r.content)

for table in root.xpath(table_xpath):
    header = [text(th) for th in table.xpath('//th')]        # 1
    data = [[text(td) for td in tr.xpath('td')]  
            for tr in table.xpath('//tr')]                   # 2
    data = [row for row in data if len(row)==len(header)]    # 3 
    data = pd.DataFrame(data, columns=header)                # 4
    print(data)

Empty DataFrame
Columns: []
Index: [0, 1]

In [35]:
for i in tab:
    print(i.base_url)

None

In [61]:
df=pd.read_html(URL)
df

[                                                   0   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                Shareholding Pattern
 4                                                 NaN
 5   MARUTI SUZUKI INDIA LTD.Scrip Code : 532500Qua...
 6   MARUTI SUZUKI INDIA LTD.Scrip Code : 532500Qua...
 7                            MARUTI SUZUKI INDIA LTD.
 8                                 Scrip Code : 532500
 9   Statement showing shareholding pattern of the ...
 10  Category of shareholderNos. of shareholdersNo....
 11                            Category of shareholder
 12                                                NaN
 13                                                NaN
 14                                         A1) Indian
 15                                        A2) Foreign
 16                                Any Other (specify)
 17                           Suzuki Motor Corporation
 18                                       Sub Total A2
 19                                            A=A1+A2
 20                                                NaN

                                                    1   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5   MARUTI SUZUKI INDIA LTD.Scrip Code : 532500Qua...
 6                            MARUTI SUZUKI INDIA LTD.
 7                                                 NaN
 8                          Quarter Ending : June 2019
 9                                                 NaN
 10                            Category of shareholder
 11                               Nos. of shareholders
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                  1
 17                                                  1
 18                                                  1
 19                                                  1
 20                                                NaN

                                          2   \
 0                                       NaN
 1                                       NaN
 2                                       NaN
 3                                       NaN
 4                                       NaN
 5                  MARUTI SUZUKI INDIA LTD.
 6                       Scrip Code : 532500
 7                                       NaN
 8                                       NaN
 9                                       NaN
 10                     Nos. of shareholders
 11  No. of fully paid up equity shares held
 12                                      NaN
 13                                      NaN
 14                                      NaN
 15                                      NaN
 16                                169788440
 17                                169788440
 18                                169788440
 19                                169788440
 20                                      NaN

                                          3   \
 0                                       NaN
 1                                       NaN
 2                                       NaN
 3                                       NaN
 4                                       NaN
 5                       Scrip Code : 532500
 6                Quarter Ending : June 2019
 7                                       NaN
 8                                       NaN
 9                                       NaN
 10  No. of fully paid up equity shares held
 11                   Total nos. shares held
 12                                      NaN
 13                                      NaN
 14                                      NaN
 15                                      NaN
 16                                169788440
 17                                169788440
 18                                169788440
 19                                169788440
 20                                      NaN

                                                    4   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                          Quarter Ending : June 2019
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                             Total nos. shares held
 11  Shareholding as a % of total no. of shares (ca...
 12                                                NaN
 13                                                NaN
 14                                               0.00
 15                                               0.00
 16                                              56.21
 17                                              56.21
 18                                              56.21
 19                                              56.21
 20                                                NaN

                                                    5   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5   Statement showing shareholding pattern of the ...
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10  Shareholding as a % of total no. of shares (ca...
 11  Number of equity shares held in dematerialized...
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                          169788440
 17                                          169788440
 18                                          169788440
 19                                          169788440
 20                                                NaN

                                                    6   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5   Category of shareholderNos. of shareholdersNo....
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10  Number of equity shares held in dematerialized...
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN

                          7                     8   \
 0                       NaN                   NaN
 1                       NaN                   NaN
 2                       NaN                   NaN
 3                       NaN                   NaN
 4                       NaN                   NaN
 5   Category of shareholder  Nos. of shareholders
 6                       NaN                   NaN
 7                       NaN                   NaN
 8                       NaN                   NaN
 9                       NaN                   NaN
 10               A1) Indian                   NaN
 11                      NaN                   NaN
 12                      NaN                   NaN
 13                      NaN                   NaN
 14                      NaN                   NaN
 15                      NaN                   NaN
 16                      NaN                   NaN
 17                      NaN                   NaN
 18                      NaN                   NaN
 19                      NaN                   NaN
 20                      NaN                   NaN

                                          9      ...                39  \
 0                                       NaN     ...               NaN
 1                                       NaN     ...               NaN
 2                                       NaN     ...               NaN
 3                                       NaN     ...               NaN
 4                                       NaN     ...               NaN
 5   No. of fully paid up equity shares held     ...       169788440.0
 6                                       NaN     ...               NaN
 7                                       NaN     ...               NaN
 8                                       NaN     ...               NaN
 9                                       NaN     ...               NaN
 10                                      NaN     ...       169788440.0
 11                                      NaN     ...               NaN
 12                                      NaN     ...               NaN
 13                                      NaN     ...               NaN
 14                                      NaN     ...               NaN
 15                                      NaN     ...               NaN
 16                                      NaN     ...               NaN
 17                                      NaN     ...               NaN
 18                                      NaN     ...               NaN
 19                                      NaN     ...               NaN
 20                                      NaN     ...               NaN

              40     41           42       43   44           45           46  \
 0           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 1           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 2           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 3           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 4           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 5   169788440.0  56.21  169788440.0  A=A1+A2  1.0  169788440.0  169788440.0
 6           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 7           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 8           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 9           NaN    NaN          NaN      NaN  NaN          NaN          NaN
 10  169788440.0  56.21  169788440.0      NaN  NaN          NaN          NaN
 11          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 12          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 13          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 14          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 15          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 16          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 17          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 18          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 19          NaN    NaN          NaN      NaN  NaN          NaN          NaN
 20          NaN    NaN          NaN      NaN  NaN          NaN          NaN

        47           48
 0     NaN          NaN
 1     NaN          NaN
 2     NaN          NaN
 3     NaN          NaN
 4     NaN          NaN
 5   56.21  169788440.0
 6     NaN          NaN
 7     NaN          NaN
 8     NaN          NaN
 9     NaN          NaN
 10    NaN          NaN
 11    NaN          NaN
 12    NaN          NaN
 13    NaN          NaN
 14    NaN          NaN
 15    NaN          NaN
 16    NaN          NaN
 17    NaN          NaN
 18    NaN          NaN
 19    NaN          NaN
 20    NaN          NaN

 [21 rows x 49 columns],
                                                    0   \
 0   MARUTI SUZUKI INDIA LTD.Scrip Code : 532500Qua...
 1                            MARUTI SUZUKI INDIA LTD.
 2                                 Scrip Code : 532500
 3   Statement showing shareholding pattern of the ...
 4   Category of shareholderNos. of shareholdersNo....
 5                             Category of shareholder
 6                                                 NaN
 7                                                 NaN
 8                                          A1) Indian
 9                                         A2) Foreign
 10                                Any Other (specify)
 11                           Suzuki Motor Corporation
 12                                       Sub Total A2
 13                                            A=A1+A2

                             1                                        2   \
 0     MARUTI SUZUKI INDIA LTD.                      Scrip Code : 532500
 1                          NaN                                      NaN
 2   Quarter Ending : June 2019                                      NaN
 3                          NaN                                      NaN
 4      Category of shareholder                     Nos. of shareholders
 5         Nos. of shareholders  No. of fully paid up equity shares held
 6                          NaN                                      NaN
 7                          NaN                                      NaN
 8                          NaN                                      NaN
 9                          NaN                                      NaN
 10                           1                                169788440
 11                           1                                169788440
 12                           1                                169788440
 13                           1                                169788440

                                          3   \
 0                Quarter Ending : June 2019
 1                                       NaN
 2                                       NaN
 3                                       NaN
 4   No. of fully paid up equity shares held
 5                    Total nos. shares held
 6                                       NaN
 7                                       NaN
 8                                       NaN
 9                                       NaN
 10                                169788440
 11                                169788440
 12                                169788440
 13                                169788440

                                                    4   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                              Total nos. shares held
 5   Shareholding as a % of total no. of shares (ca...
 6                                                 NaN
 7                                                 NaN
 8                                                0.00
 9                                                0.00
 10                                              56.21
 11                                              56.21
 12                                              56.21
 13                                              56.21

                                                    5   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4   Shareholding as a % of total no. of shares (ca...
 5   Number of equity shares held in dematerialized...
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                          169788440
 11                                          169788440
 12                                          169788440
 13                                          169788440

                                                    6           7   8   9   \
 0                                                 NaN         NaN NaN NaN
 1                                                 NaN         NaN NaN NaN
 2                                                 NaN         NaN NaN NaN
 3                                                 NaN         NaN NaN NaN
 4   Number of equity shares held in dematerialized...  A1) Indian NaN NaN
 5                                                 NaN         NaN NaN NaN
 6                                                 NaN         NaN NaN NaN
 7                                                 NaN         NaN NaN NaN
 8                                                 NaN         NaN NaN NaN
 9                                                 NaN         NaN NaN NaN
 10                                                NaN         NaN NaN NaN
 11                                                NaN         NaN NaN NaN
 12                                                NaN         NaN NaN NaN
 13                                                NaN         NaN NaN NaN

        ...                33           34     35           36       37   38  \
 0      ...               NaN          NaN    NaN          NaN      NaN  NaN
 1      ...               NaN          NaN    NaN          NaN      NaN  NaN
 2      ...               NaN          NaN    NaN          NaN      NaN  NaN
 3      ...               NaN          NaN    NaN          NaN      NaN  NaN
 4      ...       169788440.0  169788440.0  56.21  169788440.0  A=A1+A2  1.0
 5      ...               NaN          NaN    NaN          NaN      NaN  NaN
 6      ...               NaN          NaN    NaN          NaN      NaN  NaN
 7      ...               NaN          NaN    NaN          NaN      NaN  NaN
 8      ...               NaN          NaN    NaN          NaN      NaN  NaN
 9      ...               NaN          NaN    NaN          NaN      NaN  NaN
 10     ...               NaN          NaN    NaN          NaN      NaN  NaN
 11     ...               NaN          NaN    NaN          NaN      NaN  NaN
 12     ...               NaN          NaN    NaN          NaN      NaN  NaN
 13     ...               NaN          NaN    NaN          NaN      NaN  NaN

              39           40     41           42
 0           NaN          NaN    NaN          NaN
 1           NaN          NaN    NaN          NaN
 2           NaN          NaN    NaN          NaN
 3           NaN          NaN    NaN          NaN
 4   169788440.0  169788440.0  56.21  169788440.0
 5           NaN          NaN    NaN          NaN
 6           NaN          NaN    NaN          NaN